<div class = "matlab-container" layout="row" layout-align="stretch center">
    <div class = "header" layout="row" layout-align="start center">
        
    </div>
    <div class="content" layout="column" layout-align="stretch start">
        <div class="left-nav">
            <!-- The Github Repo -->
        </div>
        <div class="editor-content" layout="row" layout-align="stretch start">
            <hack-editor></hack-editor>
            <div class="terminal"></div>
        </div>
        <div class="right-nav"></div>
    </div>
</div>